{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
</head>
<body>

<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
             <div class="navbar-header">
                <div class="navbar-header">
                    <button class="button-default">
                        <a href="{% url "home_view" %}">Home</a>
                    </button>
                    {% if request.user.id %}
                        <button class="button-default">
                            <a href="{% url "update_profile" %}?next=/">Update Profile</a>
                        </button>
                    {% else %}
                        <button class="button-default">
                            <a href="{% url "create_account" %}">Create Account</a>
                        </button>
                    {% endif %}
                </div>
             </div>
        </div>
        {% block content %}
        {% endblock %}
    </nav>
</div>
</body>
</html>